<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <label>user</label>
            <input type="text" name="user" placeholder="User"/>

            <label>dui</label>
            <input type="text" name="dui" placeholder="Dui"/>

            <button class="btn-default">Login</button>
        </form>
    </div>
</body>
</html>